.tanlov{
    
    &__one{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        border: 1px solid #0088CF;
        background: #F5F5F9;
        border-radius: 5px;
        margin: 15px 0 25px 0;
        .chek{
            display: flex;

            img{
                width: 25px;
                height: 25px;
                margin: 5px 5px 0 0;
            }

            div{
                width: 550px;
            }
        }
    }

    .else{
        margin: 25px 0 15px 0;
    }
}

@media (max-width:768px) {
    .tanlov{
        &__one{
            .chek{
                div{
                    width: 90%;

                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width:350px) {
    .tanlov{
        &__one{
            .chek{
                div{
                    h4{
                        font-size: 20px;
                    }

                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}