* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

img {
  width: 100%;
}

p, h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0;
  color: inherit !important;
}

input {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

img {
  width: 100%;
}

p, h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0;
  color: inherit !important;
}

input {
  outline: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

nav .logo img {
  width: 120px;
}

nav .logo p {
  margin: 0;
}

nav div .kat {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

nav div .ran {
  color: #989898;
}

nav div i {
  font-size: 22px;
  color: #0088CF;
}

nav .ul {
  display: none;
  width: 80%;
}

nav .ul .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #0088CF !important;
  gap: 20px !important;
  color: white !important;
}

nav .ul .drop a:hover {
  text-decoration: underline !important;
}

nav .ul .drop .olti {
  border-bottom: 3px solid #0088CF;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

nav .ul .bor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .ul .bor .kat {
  font-size: 14px;
  font-weight: 400;
}

nav .ul .bor .ran {
  text-decoration: underline;
}

nav .yoq, nav input, nav .open, nav .close {
  display: none;
}

nav .close i::before {
  color: white !important;
  font-size: 2.5rem;
}

.svet {
  margin-top: 10px;
  background: #F5F5F9;
}

.svet .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.svet .drop a {
  text-decoration: none;
}

.svet .drop i {
  font-size: 20px;
}

.svet .drop .olti {
  border-right: 1px solid #C4C4C4;
  padding-right: 25px;
}

.svet .drop .yetti {
  padding-left: 10px;
}

@media (max-width: 1200px) {
  .svet {
    display: none;
  }
}

@media (max-width: 992px) {
  nav .open, nav .yoq {
    display: block;
  }
  nav .bor {
    display: none;
  }
  nav .ul {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 999;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .ul .drop {
    height: 100vh;
    background: #0088CF;
    color: white;
  }
  nav .ul .drop a {
    padding: 6px;
  }
  nav .ul .drop .dropdown-menu li a {
    color: #0088CF !important;
    text-align: center;
  }
  nav #check:checked ~ .ul {
    left: 0;
  }
  nav #check:checked ~ .ul .close {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    -webkit-transition: .6s;
    transition: .6s;
  }
}

@media (max-width: 525px) {
  nav .yoq {
    display: none;
  }
}

@media (max-width: 400px) {
  nav .logo p {
    font-size: 13px;
  }
  nav .logo .kic {
    display: none;
  }
}

@media (max-width: 320px) {
  nav .logo p {
    display: none;
  }
}

.footer {
  margin-top: 25px;
}

.footer span {
  color: #0088CF;
}

.footer .color {
  background-color: #F5F5F9;
  padding: 25px;
}

.footer .voprosi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .voprosi .opros {
  width: 300px;
}

.footer .voprosi .opros a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.footer .voprosi .submit .inp {
  width: 300px;
  margin: 10px 0;
}

.footer .voprosi .submit input {
  padding: 7px;
}

.footer .voprosi .submit label {
  width: 190px;
}

.footer .voprosi .submit button {
  color: #fff;
  background: #0088CF;
}

.footer .oxir .linklar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .oxir .linklar a {
  text-decoration: none;
}

.footer .oxir .linklar .links a {
  text-decoration: none;
}

.footer .oxir .linklar .links .big {
  font-size: 20px;
  font-weight: 700;
}

.footer .oxir .linklar .linktwo h6 {
  margin: 0;
}

.footer .oxir .linklar .linkthree a {
  font-weight: 600;
}

.footer .oxir .yana {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .oxir .yana .icons a {
  border-radius: 5px;
  background-color: #F5F5F9;
  display: inline-block;
}

.footer .oxir .yana .icons a i {
  padding: 8px 9px;
}

.footer .rangi {
  background-color: #242321;
}

.footer .rangi .end {
  width: 100%;
  color: #FCEC4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .rangi .end p {
  margin: 10px 0;
}

.footer .rangi .end a {
  color: #FCEC4F;
}

.footer .top {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.footer .top a {
  display: inline-block;
}

.footer .top a i {
  padding: 18px 19px;
  background-color: #0088CF;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 992px) {
  .footer .oxir .linklar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .footer .yana {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .rangi .end {
    text-align: center;
    margin: 0 auto;
  }
  .footer .rangi .end p {
    text-align: center;
    margin: 3px auto;
  }
}

@media (max-width: 320px) {
  .footer .voprosi .submit .inp {
    width: 90%;
  }
  .footer .voprosi .submit label {
    width: 90%;
  }
  .footer .voprosi .submit button {
    width: 90%;
  }
}

.log {
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: 50px auto;
}

.log h1 {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  font-weight: 900;
  font-size: 2.2rem;
}

.log p {
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
}

.log input {
  padding: 10px 20px;
  border: 1px solid silver;
  border-radius: 10px;
}

.log button {
  margin: 50px 0;
  padding: 15px 30px;
  background: #0088CF;
  color: white !important;
  border-radius: 10px;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  border: 2px solid #0088CF;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  margin: 0;
}

.log button:hover {
  background: none;
  color: #0088CF !important;
}

@media (max-width: 768px) {
  .log {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */